@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: black;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 15px;
    background-color: skyblue;
}
#navbar #logo{
    font-size: 25px;
    font-family: 'Sedgwick Ave Display', cursive;
}
#navbar #links ul{
    list-style: none;
    display: flex;
}
#links ul li a{
    font-size: 16px;
    font-family: sans-serif;
    padding: 0 20px;
    text-decoration: none;
}
#links ul li a:hover{
    color: rgb(9, 143, 196);
}

#navbar #btn button{
    margin-left: 10px;
    border-radius: 12px;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}
#home{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    padding: 8rem 2rem;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, red, purple);
    border-radius: 50px 50px 400px 400px / 25px 25px 50px 50px;
}
#home-text h1{
    color: white;
    font-family: 'DynaPuff', cursive;
    line-height: 49px;
}
#home-text input{
    margin-top: 50px;
    border-radius: 16px;
    height: 42px;
    width: 277px;
    border:none;
    outline: none;
    padding-left: 30px;
}
#home-text button{
    padding: 15px 25px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: white;

}
#home-img img{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    /* we can set it later  */
}
#about{
    display: grid;
    text-align: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    padding: 7rem 2rem;
}
#about-section{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
#about-section .text-box{
    border-top: 5px solid greenyellow;
    margin: 50px 5px;
    padding: 10px 10px;
    border-radius: 15px;
}
#about-text h1{
    font-family: 'Poppins', sans-serif;
}
#about-img marquee{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#about-img img{
    width: 800px;
    height:auto;
    margin: 0 200px;
    border-radius: 15px;
}
